##########################################################
##  Qubes tunnel service
##
##  See qubes-tunnel.service.d/00_example.conf
##  for example customization.

[Unit]
Description=Tunnel service for Qubes proxyVM
ConditionPathExists=!/var/run/qubes/this-is-templatevm
ConditionPathExists=/rw/config/qtunnel
ConditionPathExistsGlob=/var/run/qubes-service/qubes-tunnel*
After=network.target qubes-firewall.service rw.mount
Conflicts=shutdown.target

[Service]
Group=qtunnel
Restart=always
RestartSec=10
TimeoutStopSec=2
Environment="retrysec1=5"
Environment="retrysec2=30"
Environment="retrymax=7"
Environment="alivesec1=10"
Environment="alivesec2=42"
Environment="upscript=/usr/lib/qubes/qtunnel-connect up"
Environment="dnscript=/usr/lib/qubes/qtunnel-connect down"

ExecStartPre=/usr/lib/qubes/qtunnel-setup --check-firewall
ExecStartPre=/usr/lib/qubes/qtunnel-setup --pre-start

ExecStart=/usr/sbin/openvpn --cd /rw/config/qtunnel/ --config /tmp/qtunnel.conf \
--ping ${alivesec1} --ping-restart ${alivesec2} --connect-retry ${retrysec1} ${retrysec2} \
--connect-retry-max ${retrymax} --group qtunnel --verb 3 --mlock --script-security 2 \
--up ${upscript} --down ${dnscript} \
--auth-user-pass /tmp/tunneluserpwd.txt

ExecStartPost=/usr/lib/qubes/qtunnel-setup --post-start
ExecStopPost=/usr/lib/qubes/qtunnel-setup --post-stop

[Install]
WantedBy=multi-user.target

